* {
  font-family: Arial;
  box-sizing: border-box;
}
h1,
h2 {
  font-family: "Linux Libertine",Georgia,Times,serif;
  font-weight: normal;
}

h2,
h2 + p,
h3,
h3 + p {
  display: inline;
}

h3 {
  padding-bottom: 5px;
}

h2 + p,
h3 + p {
    margin-left: 15px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 2%, rgba(237,237,237,1) 100%);
  /*align-items: stretch;*/
}

.header {
  position: relative;
}

.formContainer {
  position: absolute;
  right: 10px;
  bottom:0;
}

input {
  color: #888;
  width: 250px;
  /*margin: 0 5px;*/
  /*border-right: none;*/
}
input,
button {
  height: 25px;
  margin: 0;
  padding: 0;
}

button {
  border-left: none;
  background: #fff;
}

.sideBar {
  position: absolute;
  line-height: 1.4;
  padding: 15px;
  left: 0;
  top: 0;
  width: 160px;
  font-size: 0.8em;
}


.sideBar ul {
  padding-left: 10px;
}

.logo {
  height: 150px;
  background: url("../image/2000px-Wikipedia-logo-v2-en.svg.png") no-repeat;
  background-size: contain;
}

.sideBar p{
  color: #4d4d52;

}

.main a,
.header a,
.footer a {
  text-decoration: none;
  color: #4445bc;
}

.sideBar a {
  text-decoration: none;
  color: #8545B3;
}


.sideBar a:hover,
.main a:hover,
.header a:hover,
.footer a:hover {
  text-decoration: underline;
}


.sideBar ul,
.header ul,
.contentsBox ul,
.footer ul,
.categoriesBox ul {
  list-style-type: none;
}

.gearIcon {
  width: 20px;
  opacity: 0.5;
  float: right;
}

.gearIcon:hover {
  opacity: 0.7;
}

.pencilIcon {
  width: 12.5px;

}

span {
  color: #666;
}

.editLinks {
  float:right;
  opacity: 0.6;
}

span:hover,
.editLinks:hover {
  color: #5145B3;
  opacity: 1;
}

.categoriesBox li,
.header li,
.footer li {
  display: inline;
}

.rightSide {
  position: relative;
  width: 88%;
  left: 160px;
  font-size: 0.9em;
}

.header {
  font-size: 0.88em;
  height: 80px;
}

.topMenu {
  position: absolute;
  top: 0;
  right: 10px;
  margin-bottom: 10px;
}

.topMenu ul,
.topMenu p {
  display: inline;
}

.topMenu p {
  color: #707070;
}

.leftMenu {
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 0;
}
.rightMenu {
  position: absolute;
  right: 270px;
  bottom: 0;
  margin: 0;
}

.main {
  background: #fff;
  flex: 1 1 auto;
  padding: 10px 0 20px 20px;
  border: 1px solid #a7d7F9;
  line-height: 1.5;
}

.photoBox,
.contentsBox,
.categoriesBox {
  margin: 10px;
  padding: 10px;
  background: #f9f9f9;
  border: 1px solid #aaaaaa;
  line-height: normal;
}

/*.contentsBox::after,*/
.photoBox::after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}

.contentsBox {
  width: 150px;
  font-size: 0.9em;
}

.indentedListItem {
  text-indent: 15px;
}

.photoBox {
  float: right;
  text-align: center;
  width: 260px;
  font-size: 0.88em;
}
.secondaryPhoto {
  width: 228px;
  padding: 5px 1px;
}

.secondaryPhoto p {
  text-align: left;
  padding: 0 5px;
}

.legacyPhoto {
  width: 194px;
}
.references {
  columns: 500px auto;
}

table {
  text-align: left;
}


.footer {
  font-size: 0.7em;
  padding: 10px 15px;
}

.contentsBox ul,
.footer ul {
  padding: 0;
}

.footer li {
  padding-right: 10px;
}

.categoriesBox {
  padding: 0;
}

.categoriesBox ul {
  padding: 0 5px;
}

.thematicOrganizer {
  border: 1px solid #aaaaaa;
  font-size: 0.87em;
  width: 100%;
}
.thematicOrganizer li {
  display: inline;

}
.thematicOrganizer th:first-of-type {
  background: #ddddff;
  text-align: right;
}
/*
.thematicOrganizer tr:nth-of-type(even) {
  background: #F7F7F7;
}*/

.borderizeThis {
  border-right: 1px solid #888;
  padding-right: 10px;
}
