VBox {
 -fx-background-color: linear-gradient(#000 0%, #fff 15%, #fff 100%);
}

Button {
    -fx-background-color: #000;
}

HBox {
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
}