* {
  font-family: 'Rock Salt', cursive;
  background-color: #000;
  color: #FFF;
}

main,
nav {
  width: 60%;
  margin: 150px auto;
}

header,
footer {
  text-align: center;
  position: fixed;
  z-index: 1;
  width: 100%;
}

header {
  top: 0;
}

footer {
  bottom:0
}

table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}

td, th {
  border-bottom: 1px solid #FFF;
  padding: 10px 30px;
}

a,
a:visited ,
input[type="submit"],
input[type="reset"]{
  text-decoration: none;
  border: none;
  font-size: 16px;
}

a:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
th {
  font-weight: bold;
  text-shadow: 0 0 25px #FFF;
}

th {
  font-size: 18px;
}

ul {
  display: inline-flex;
}

ul li {
  padding: 0 20px;
  list-style-type: none;
}