<div layout:decorator="layout" layout:fragment="content" >
<main>
    <form action="#" th:action="@{'/edit'}" th:object="${meal}" method="post">
        <h2>Edit meal</h2>
        <div class="form_wrapper">
            <div class="form_element">
                <label for="date" th:text="'Date'">Date</label>
                <input id="date" pattern="yyyy-MM-dd" type="date" th:value="${meal.date}" th:field="*{date}"
                       th:required="required" required="true"/>
            </div>
            <div class="form_element">
                <label for="type" th:text="Type">Type</label>
                <select id="type" th:field="*{type}" th:remove="all-but-first" th:required="required" required="true">
                    <option th:each="typeOption : ${typeOptions}"
                            th:value="${typeOption}"
                            th:selected="${meal.type}"
                            th:text="${typeOption}">One option
                    </option>
                    <option>Another option</option>
                    <option>Another option</option>
                </select>
            </div>
            <div class="form_element">
                <label for="description" th:text="'Description'">Description</label>
                <input id="description" type="text" th:value="${meal.description}" th:field="*{description}"
                       th:required="required"
                       required="true"/>
            </div>
            <div class="form_element">
                <label for="calories" th:text="'Calories'">Calories</label>
                <input id="calories" type="number" min="1" max="1000000" th:value="${meal.calories}"
                       th:field="*{calories}"
                       th:required="required" required="true"/>
            </div>
        </div>
        <input type="submit" value="Submit"/> <input type="reset" value="Reset"/>
        <a href="#" th:href="@{'/{id}/confirmdelete'(id=${meal.id})}" class="delete" th:attr="name=${meal.description}">
            Delete
        </a>
        <a th:href="@{'/index'}" href="#">Cancel</a>
    </form>
</main>
</div>