<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org/">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://fonts.googleapis.com/css?family=Arima+Madurai" rel="stylesheet"></link>
    <link rel="stylesheet" type="text/css" href="/css/main_style.css"></link>
    <link rel="icon" type="image/png" href="/images/apple.png"></link>
    <title>The Calorie Counter</title>
</head>
<body>
<header>
    <h1>The Calorie Counter</h1>
</header>
<div layout:fragment="content">
</div>
</body>
</html>
