<!DOCTYPE html>
<html layout:decorator="layout" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<div layout:fragment="content">
<main>
    <article>
        <h2>Add post!</h2>
    <form action="#" th:action="@{'/posts/add'}" th:object="${post}" method="post">
        <label for="content" th:text="'New post:'">New post:</label>
        <input id="content" type="text" th:field="*{content}" th:required="required" required="true"/>
        <input type="submit" value="Submit"/>
        <input type="reset" value="Reset"/>
        <a href="javascript:history.back()">Cancel</a>
    </form>
    </article>
</main>
</div>
</html>