<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>4dD n3W P05T!</title>
    <link href="https://fonts.googleapis.com/css?family=Rock+Salt" rel="stylesheet"></link>
    <link rel="stylesheet" type="text/css" href="/css/style.css"></link>
</head>
<body>
<main>
    <article>
        <h1>Add post!</h1>
    <form action="#" th:action="@{'/posts/add'}" th:object="${post}" method="post">
        <label for="content" th:text="'New post by ' + ${userName}">New post by John Doe</label>
        <input id="content" type="text" th:field="*{content}" th:required="required" required="true"/>
        <input type="hidden" id="userName" rows="5" class="form-control" name="userName" th:value="${userName}"/>
        <input type="submit" value="Submit"/>
        <input type="reset" value="Reset"/>
        <a href="javascript:history.back()">Cancel</a>
    </form>
    </article>
</main>
</body>
</html>