<div layout:decorator="layout" layout:fragment="content" xmlns:layout="http://www.w3.org/1999/xhtml"
     xmlns:th="http://www.w3.org/1999/xhtml">
<main>
    <article>
        <h2>Log in!</h2>
    <form th:action="@{/login}" method="post">
        <div>
            <label for="username" th:text="'User name:'">User name:</label>
            <input id="username" type="text" name="username"/>
        </div>
        <div><label for="password" th:text="'Password:'">Password:</label>
            <input id="password" type="password" name="password"/>
        </div>
        <div><input type="submit" value="[Submit!]"/></div>
    </form>
    </article>
    <div th:if="${param.error}">
        <p>Invalid username and password.</p>
    </div>
    <div th:if="${param.logout}">
        <p>You have been logged out.</p>
    </div>
</main>
</div>