<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Reddit Clone</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>Score</th>
        <th colspan="2">Action</th>
        <th>Content</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="post: ${posts}">
        <td th:text="${post.score}"></td>
        <td><a href="#" th:href="@{'/posts/changescore/{id}/{difference}'(id=${post.id}, difference='1')}">+</a></td>
        <td><a href="#" th:href="@{'/posts/changescore/{id}/{difference}'(id=${post.id}, difference='-1')}">-</a></td>
        <td th:text="${post.content}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>