<div layout:decorator="layout" class="content" layout:fragment="content">
    <nav>
        <div>
            <p>Welcome, <span sec:authentication="name">Guest</span>!</p>
            <form sec:authorize="isAuthenticated()" id="frmlogout" th:action="@{'/logout'}" method="post"
                  class="form-inline">
                <input type="submit" value="[Logout!]"/>
            </form>
        </div>
    </nav>
    <main>
        <article>
            <h2>Posts</h2>
            <a href="#" th:href="@{'/posts/add'}">[Add a new post!]</a>
            <table>
                <thead>
                <tr>
                    <th>#</th>
                    <th>Posted by</th>
                    <th>Score</th>
                    <th colspan="4">Action</th>
                    <th>Content</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="post, iterStat: ${posts}">
                    <td th:text="${iterStat.count} + 10*(${currentIndex} - 1)">1</td>
                    <td th:text="${post.userName}">John Doe</td>
                    <td th:text="${post.score}">10</td>
                    <td><a href="#"
                           th:href="@{'/posts/changescore/{id}/{difference}/{goBackTo}'(id=${post.id}, difference='1', goBackTo=${currentIndex})}">+</a>
                    </td>
                    <td><a href="#"
                           th:href="@{'/posts/changescore/{id}/{difference}/{goBackTo}'(id=${post.id}, difference='-1', goBackTo=${currentIndex})}">-</a>
                    </td>
                    <td><a href="#"
                           th:href="@{'/posts/edit/{id}'(id=${post.id})}">Edit</a>
                    </td>
                    <td><a href="#"
                           th:href="@{'/posts/delete/{id}'(id=${post.id})}">Remove</a>
                    </td>
                    <td th:text="${post.content}">Blah-blah-blah</td>
                </tr>
                </tbody>
            </table>
        </article>
    </main>
    <footer>
        <div th:if="${not posts.isFirst()}">
            <ul>

                <li>
                    <a th:href="@{'/posts/1'}">← First</a>
                </li>
                <li>
                    <a th:href="@{'/posts/{pageNumber}'(pageNumber=${currentIndex - 1})}">←
                        Previous</a>
                </li>
            </ul>
        </div>
        <div th:if="${not posts.isLast()}">
            <ul>
                <li>
                    <a th:href="@{'/posts/{pageNumber}'(pageNumber=${currentIndex + 1})}">Next
                        →</a>
                </li>
                <li>
                    <a th:href="@{'/posts/{pageNumber}'(pageNumber=${endIndex})}">Last
                        →</a>
                </li>
            </ul>
        </div>
    </footer>
</div>