html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

* {
  font-family: 'Open Sans',Arial,sans-serif;
}

form {
  background: #dcd6cd;
  min-width: 290px;
  max-width: 800px;
  margin: 0 auto;
  padding: 50px 80px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}

p {
  font-size: 0.8em;
  margin: 0;
  padding-bottom: 20px  ;
  color: #999;
}

.wide-box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  min-height: 150px;
  justify-content: space-between;
}

.column-sub {
  min-height: 250px;
  flex: 1 0 40%;
  padding: 10px;
}

h2 {
  background: #938c97;
  color: #fff;
  padding: 10px;
  border-radius: 3px;
}

label {
  color: #4a4261;
  font-weight: bold;
}

span {
  color: red;
}

select {
  color: #ababab;
}
select:focus {
  color: black;
}

select,
input,
textarea {
  width: 100%;
  resize: none;
  padding: 10px;
  margin: 10px 0;
}

input[name="year_of_birth"] {
  flex: 0.5 2 50%;
}

.narrow-field {
  margin: 0;
  flex: 1 0 50%;
}

.input-file {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.input-file + label {
    display: inline-block;
    margin: 3px;
}

input[type="checkbox"],
input[type="radio"] {
  width: 20%;
  /*flex-shrink: 0;*/
}

input[type="radio"] {
  margin: 23px 0;
}

.check-box-column {
  flex-basis: 50%;
  margin:0;
  min-height: 100px;
}

.termsAndConditions {
  /*max-width: 60%;*/
  justify-content: flex-start;
  margin: 0;
  padding:30px 0;
}

.termsAndConditions a {
  color: #626262;
  padding-left: 10px;
}

.input-file + label,
button {
    text-transform: uppercase;
    font-weight: bold;
    background: #aaa;
    border: none;
    color: #4A4261;
    font-size: 1em;
    padding: 10px 20px;
    border: 1px solid #4A4261;
    border-radius: 3px;
}

.input-file + label:hover,
button:hover {
  border: 1px solid #fff;
}

button[type="submit"] {
  padding: 10px 50px;
  background: #433c58;
  color: #b6aFb2;
  font-size: 1.2em;
}

.bottom-box {
  margin-top: 20px;
}
